* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: black;
  line-height: 1.6;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.content__box {
  width: 80%;
  margin: 0 auto;
}

.button {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  border: 1px solid #bbbbbb;
  text-decoration: none;
  transition: background-color 0.2s linear;
}
.button:hover {
  background-color: #bbbbbb;
  color: #000000;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
}

header {
  width: 100%;
  position: absolute;
}
header .container {
  background-color: #dddddd;
}
header .container .content__box {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .logo {
  padding: 6px 0;
  min-width: 130px;
  width: 8.5%;
}

.main .container .content__box {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header .container .content__box form {
  width: 40%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .container .content__box .button {
  width: 130px;
}
header .container .content__box form .button {
  width: 10%;
  min-width: 60px;
  height: auto;
  padding: 3px;
  font-size: 13px;
}
header .container .content__box .search__line {
  width: 90%;
  height: 23px;
}

.main .container {
  padding-top: 50px;
  height: 100vh;
  overflow-y: scroll;
}
.main .container .content__box .item__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 0 auto;
}

.info__box {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 400px;
  height: 250px;
  margin: 10px;
  padding: 25px 10px;
  background-color: #eeeeee;
}
.info__box a {
  height: 200px;
}
.info__box a img {
  width: 150px;
  height: 200px;
  margin-right: 30px;
  outline-color: #f1f1f1;
  outline-style: solid;
  transition: outline-color 0.2s linear;
}
.info__box a img:hover {
  outline-color: #cccccc;
}
.info__box table td {
  padding: 10px 10px 10px 0;
}

.main .container .content__box .form__box {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.content-info__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
  margin: 40px 0;
  background-color: #eeeeee;
}
.content-info__box .item__image {
  height: 30%;
}
.content-info__box img {
  height: 266px;
  width: 200px;
  margin-right: 30px;
}
.content-info__box table tr td {
  padding: 20px 10px;
}

.item-info__box {
  display: block;
  margin: 0 auto;
}

.item__center {
  margin: 0 45%;
}

.test__box {
  width: 400px;
  height: 250px;
  margin: 10px;
  background-color: #000;
}

/*# sourceMappingURL=main.css.map */
